@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Noto+Sans:wght@400;700&family=Passero+One&family=Passion+One&family=Poppins:wght@300;500;800&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    
}

.container {
    width: 80%;
    height: 80vh;
    position: absolute;
    display: flex;
    box-shadow:0px 0px 20px 10px #00ffff77;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #000000a2;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #050505be;
    padding: 3rem;
 
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
h1{
    color: #00ffff9a;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color:  #07f7f7ce;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #00ffffce;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    
}

.input-box input:hover {
    background-color: #0ceffffb;
}

.input-box input:focus-visible {
    outline: 1px solid  #00ffffce;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #00ffffce;
}

.input-box input::placeholder {
    color: #747070fb;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #ffffff;
    
}

button {
    width: 60%;
    padding: 15px 0px;
    margin: 14px;
    position: relative;
    left: 15%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #00ffffce;
    background: #000000;
    cursor: pointer;
    box-shadow: 0px 1px 2px 2px #00eeffe0;
  }
  
  button[type="submit"]:hover {
    background-color: #00ffff;
    color: #000000;
    transition: background 3s;
  }
  


@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}